.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContainer{
    width: auto;
    margin-left: 30px;
}
.home .headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
}
.home .headerContainer p{
margin-top: 50px;
padding: 0;
font-size: 30px;
font-weight: lighter;
color: black;
}

.home .headerContainer button{
    color: black;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(9, 1, 1);
    color: white;
    height: 40px;
    width: 160px;
    text-decoration: none;
    font-size: 20px;
}
.home .headerContainer button:hover{
    background-color: rgb(82, 73, 73);
    cursor: pointer;
    transition: 0.3s ease-in;
    color: azure;
}

/* mobile view*/
@media only screen and (max-width:600px) {
    .home{
        justify-content: center;
        align-items: center;
    }
    .headerContainer{
        margin-left: 0;
        border-radius: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        color: white;
    }
    .home.headerContainer h1{
        font-size: 40px;
        height: 30px;
        margin: 15px 0px;
        color: white;

    }
    .home.headerContainer p {
       
        color: white;

    }
    .home.headerContainer button{
        background-color: white;
        color: black;
        margin-bottom: 30px;
    }


}